<nav class="navbar navbar-expand-md navbar-light topbar" role="navigation">
    <div class="justify-content-md-start">
      <h4>
        <a href="/" ><img width="60px" src="/tap-logo-small.png" style="color: #A51931;" alt="tap"></a>
        <a style="white-space: nowrap; color: #A51931; text-decoration: none; margin-left: 50px;" href="/">Thailand Archeometallurgy Project: Finder</a>
      </h4>
    </div>
    <div class="collapse navbar-collapse justify-content-md-end" id="user-util-collapse">
      <%= render 'shared/user_util_links' %>
    </div>
</nav>

<%= content_tag :div, class: 'navbar navbar-search bg-light mb-1', role: 'navigation', aria: { label: t('blacklight.search.header') } do %>
  <div class="<%= container_classes %>">
    <%= render((blacklight_config&.view_config(document_index_view_type)&.search_bar_component ||Blacklight::SearchBarComponent).new(
          url: search_action_url,
          params: search_state.params_for_search.except(:qt),
          autocomplete_path: search_action_path(action: :suggest))) %>
  </div>
<% end %>

