<style>
    .grid {
        padding: 12px;
    }

    .card:hover {
        /* https://tobiasahlin.com/blog/how-to-animate-box-shadow */
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.3s ease-in-out;
    }
</style>
<table>
    <tr class="grid">
        <td colspan=5>
            <h3 style="margin-top: 15px; font-size: 1.2em" class='section-heading'>One of the world's most unusual search engines!</h3>
            <p style="text-align: justify; font-size: 85%; line-height: 1.3em;">
                This website provides a means to "slice-and-dice" some of the myriad data elements
                of the TAP project.
            </p>
            <p style="font-size: 0.8em"><b>This is a work in progress! Caveat utilizator!</b></p>
            This search engine allows you to search for 6 types of TAP data:
            <ul>
                <li>Master bag log records</li>
                <li>Photolog records (from Excel Spreadsheets)</li>
                <li>Bags (from Excel Spreadsheets)</li>
                <li>Images (from Box and Prof.Pigott's various hard drives and USB sticks)</li>
                <li>Inventory record's (from Prof Voelkers's Penn Museum invenntory)</li>
                <li>Files in the share Box folder</li>
            </ul>
            <p>... and any combinations of the above</p>
            <h3 style="margin-top: 15px; font-size: 1.2em" class='section-heading'>How it works</h3>
            <p>
                What we have done is combined the various records together where possible using a common key.
                There are two keys in use:</p>
            <dl>
                <dt>T# key</dt>
                <dd>
                    When a record (i.e. a spreadsheet row or image filename) contains a T#, all the data
                    associated with the T# can be listed together. So for numbered artifacts, all the images,
                    bag log info, photolog info, etc. can be consolidated
                </dd>
                <dt>Image key</dt>
                <dd>
                    The filenames of the images do not usually carry much inforation. Typically, the filename
                    of an "official" image includes the Season, the Roll # and the Exposure number. Using this
                    information, we can match the image to the corresponding photolog number, which provides a
                    more complete description of the images.</dd>
            </dl>
            <!-- img src="/images/tap1.png" -->
            <img src="/MFarchitecture.svg" -->
             <hr/>
        </td>
    </tr>
</table>